header {
  font-size: 80px;
  text-align: center;
  background-color: #8be4f0;
	background-image:
	 linear-gradient(-90deg, #80deea 50%, transparent 50%, transparent);
	background-size: 14px 14px;
  color: red;
  padding: 80px 0px;
  height: 140px;
  font-family: cursive;
}
.main {
  /* background-color: burlywood; */
  height: 1200px;
}
.main-top {
  background-color: white;
  padding: 100px 0px;
  text-align: center;
}

.main-center {
  text-align: center;
  background-color: white;
}

.main-bottom {
  text-align: center;
  background-color: white;
  padding: 100px 0px;

}

h1 {
  font-family: serif;
  font-weight: bold;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

h2 {
  padding: 10px 0px;
}

p {
  padding: 5px 0px;
}

footer {
  /* background-color: gray; */
  text-align: center;
  margin-top: 100px;
  padding-top: 100px;
}

.image_size {
  width: 50px;
  height: 50px;
  background-color: white;
}

.image {
  text-align: center;
  
}