header {
  font-size: 80px;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 80px 0px;
  height: 140px;
}
.main {
  background-color: burlywood;
  height: 1200px;
}
.main-top {
  background-color: white;
  padding: 100px 0px;
  text-align: center;
}

.main-center {
  text-align: center;
  background-color: white;

}

h1 {
  font-family: serif;
  font-weight: bold;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

h2 {
  padding: 10px 0px;
}

p {
  padding: 5px 0px;
}

footer {
  background-color: cyan;
}